---
import IconCode from "../assets/icons/IconCode.astro"
const avatarImage = 'https://firebasestorage.googleapis.com/v0/b/portfolio-as-39431.appspot.com/o/modificat.jpg?alt=media&token=905140eb-90a2-4e30-89ab-858a67145153'
---

<section id="Home" class="w-full md:w-[720px] container mx-auto pt-32 pb-20">
    <img 
        class="size-20 rounded-full"
        src={avatarImage}
        alt="Immagine del profilo"
    />
    <article class="mt-8 mb-8">
        <h2 class="flex gap-2 items-center text-4xl md:text-5xl font-extrabold mb-8">
            <IconCode class="size-10 md:size-12" /> <span>Mario Montella</span>
        </h2>
        <p class="text-2xl text-balance text-gray-300/90">
        Hi there I'm Mario, <span class="text-sky-300">Lorem ipsum dolor sit amet cons</span
        > lorem fjief
        <span class="text-yellow-300">ssdsfhsuhfs</span>
        </p>
    </article>
</section>